header {
    text-align: left;
    box-shadow: 4px 4px 8px;
    background-color: rgb(15, 14, 14);
    color: rgb(229, 255, 0);

}

.p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: center;
    background-color: rgb(31, 26, 26);
    height: 20px;
    font-style: italic;

}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(163, 66, 1), rgb(235, 220, 15));
    text-align: center;
}

.r3 {
    margin-top: 10%;
    border-radius: 50%;
    width: 12%;
    margin-bottom: 5%;
}

input[type="submit"] {
    background-color: #030303;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    margin-top: 5%;
}

input[type="submit"]:hover {
    background-color: #f1ee08;
}

.fonts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
}
